.allmessages{
    width: 100%;
    margin: 100px auto auto auto;
    background-color: blue;
    
    img{
        width: 100%;
        border-radius: 0px;
        margin:auto auto auto auto;
    }
    
    
}